 @font-face {
       font-family: 'iran-sans';
       src: url(./font/Sans\ a4fran3.eot) format('eot'),
             url(./font/Sans\ a4fran3.woff) format('woff'),
             url(./font/Sans\ a4fran3.ttf) format('ttf'),
             url(./font/Sans\ a4fran3.svg) format('svg');
 }

 body {
       direction: rtl;
       font-family: 'iran-sans';
       font-size: small;
 }

 .w-full {
       width: 100%;
 }

 .bg-search {
       background-color: #f1f2f4;
       border-radius: 8px;
       /* padding-top: 5px;
      padding-bottom: 5px; */

 }

 .line-1 {
       border-right: 1px solid #ccc;
 }

 .search-text {
       color: #828399;
       margin: 6px;
 }

 .signin {
       border: 1px solid #ebebef;
       border-radius: 8px;
       font-size: 12px;
 }

 .line {
       font-size: 25px;

       color: #c2c2c2;
 }

 .nav-font {

       margin-top: -5px;
       font-size: 12px;
 }

 .p-page {
       color: #828399;
       font-size: 12px;
       margin-top: 20px;
 }

 .filter {
       border: 1px solid #dbdbdb;
       border-radius: 5px;

 }

 h-10 {
       height: 10%;
 }

 input:hover,
 :enabled {
       border: 0;
       outline: 0;
 }

 .border-1-1 {
       border: 1px solid #ccc;
 }

 .rounded-4 {
       border-radius: 15px;
 }

 .form-check-input:hover {
       border: 1px solid #ccc;
 }

 span,
 a {
       text-decoration: none;
       color: black;
 }

 .form-check-input {
       clear: left;
 }

 .form-switch.form-switch-md {
       margin-bottom: 1rem;
 }

 .form-switch.form-switch-md .form-check-input {
       height: 1.5rem;
       width: calc(2rem + 0.75rem);
       border-radius: 3rem;
 }

 .filter-about-text {
       display: block;

       margin-top: -20px;
       color: #787992;
 }


 .text-blue-small {
       margin-top: 5px;
       font-size: 12px;
       color: #35c7d8;
 }

 .txt-sort-op {
       color: #828399;
       margin: 5px;

 }

 .txt-underline-op {
       border: none;
       outline: none;
       position: relative;
 }

 .txt-underline-op::before {
       content: '';
       left: 0;
       bottom: -10%;
       right: 0;
       transform: scaleX(0);
       border: none;
       position: absolute;
 }

 .txt-underline-op:hover::before {
       border: 0.01rem solid red;
       transform: scaleX(1);
       transition: transform 0.2s ease-in-out;
 }

 .txt-small {
       font-size: smaller;
 }

 .product {
       font-size: 15px;
 }

 .h-filter {
       height: 410px;
 }

 .footer-img {
       width: 60px;

 }

 .footer-txt {
       font-size: 15px;
 }

 .footer2-txt {
       font-size: 13px;
       color: #787992;
       text-align: justify;
       line-height: 30px;
 }

 .app-download {
       background-color: #003670;
       width: 98%;
       border-radius: 07px;
       margin: auto;

 }

 .search-shortcut {
       position: absolute;
       left: 5%;
       color: #787992;
       opacity: 70%;
       top: 25%;
 }

 .search {
       position: relative;
       border-radius: 10px;
       animation: search-box-anim 2s forwards;
 }


 .item:hover {
       box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.15);
       transition: 0.3s;
 }

 .dgplusexpress.active {
       margin-bottom: 5%;
       animation: form-anim1 .1s linear forwards;
 }

 .dgplusexpress.deactive {
       margin-bottom: 5%;
       opacity: 0;
       animation: form-anim3 .1s linear forwards;
       visibility: hidden;
 }


 @keyframes form-anim1 {
       from {
             margin-top: -10%;
             opacity: 10%;
       }

       to {
             margin-top: 0;
             opacity: 100%;

       }
 }

 @keyframes form-anim2 {
       0% {
             margin-top: 0;
       }

       100% {
             margin-top: -35%;
             display: none;
       }
 }

 @keyframes form-anim3 {
       0% {
             margin-top: 0;
       }

       100% {
             margin-top: -15%;
             display: none;
       }
 }

 .limit-value.active {
       animation: form-anim1 .1s linear forwards;
       display: block;
 }

 .limit-value.deactive {
       visibility: hidden;
       opacity: 0;
       animation: form-anim2 .1s linear forwards;
 }


 .box {
       position: relative;
 }

 @keyframes search-box-anim {
       from {
             opacity: 0;
       }

       100% {
             opacity: 100%;
       }

 }

 .search-img-popup {
       position: absolute;
       top: 15%;
       right: 2%;
 }

 .search-text-popup {
       position: absolute;
       top: 15%;
       right: 7%;
 }

 .btn-sort {
       position: relative;
       border: none;
       outline: none;
 }

 .w-95 {
       width: 95%;
 }

 .bg-light-1 {
       background-color: #f6f6f6;
 }

 .search-box-in {
       position: absolute;
       width: 85%;
       margin-inline: 2%;
       right: 13%;
       top: 0;
       height: 60%;
       border-radius: 10px;
       text-decoration: underline;
       text-underline-offset: 5px;
 }

 .search-box-in:focus {
       border: none;
 }

 .h-50 {
       width: 50px;

 }

 .w-30 {
       width: 30%;
 }

 .bg-100 {
       background-color: #f1f2f4;
 }

 .footer3-img {

       width: 170px;

 }


 .nav-ul {
       margin: 0;
       padding: 0;
       list-style-type: none;
       display: flex;
 }

 .nav-ul>li>*:hover {
       color: #ee384e;
 }

 .nav-ul>li>* {
       color: #9e9fb1;

 }


 .txt-red {
       color: #ee384e;
 }

 .h-15 {
       height: 15px;
 }

 .img {
       width: 70px;
 }

 button {
       background-color: white;
       border: none;
       cursor: pointer;
 }

 .pointer {
       cursor: pointer;
 }

 .btn-email {
       background-color: #e0e0e6;
       border-radius: 10px;
 }

 ul {
       list-style-type: none;
 }

 ul>li {
       margin-right: -40px;
 }